OBS_WORKER_DIRECTORY="{{ obs_worker_directory }}"
OBS_REPO_SERVERS="{{ obs_repo_servers }}"
OBS_CACHE_DIR="{{ obs_cache_dir }}"
OBS_CACHE_SIZE="{{ obs_cache_size }}"
OBS_WORKER_INSTANCES="{{ obs_worker_instances }}"
OBS_WORKER_JOBS="{{ obs_worker_jobs }}"
OBS_INSTANCE_MEMORY="{{ obs_instance_memory }}"
OBS_VM_USE_HUGETLBFS="{{ obs_vm_use_hugetlbfs }}"
OBS_VM_USE_TMPFS="{{ obs_vm_use_tmpfs }}"
